<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mtpv.eticketcourt">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_hyd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_hyd"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IPSettings" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Settings"/>
        <activity android:name=".Dashboard_PC"/>
        <activity android:name=".ChangePassword"/>
        <activity android:name=".DateOfBirth_Update"/>
        <activity android:name=".Drunk_Drive"/>
        <activity android:name=".DuplicatePrint"/>
        <activity android:name=".ExtraPassengers"/>
        <activity android:name=".Fake_NO_Dialog"/>
        <activity android:name=".GenerateDrunkDriveCase"/>
        <activity android:name=".OTP_input"/>
        <activity android:name=".PopupDetails"/>
        <activity android:name=".ReleaseversionActivity"/>
        <activity android:name=".Respone_Print"/>
        <activity android:name=".SpotChallan"/>
        <activity android:name=".VehicleHistoryPendingChallans"/>
        <activity android:name=".DDCloseActiviy"/>
        <activity android:name=".ChargeSheetClose"/>
        <activity android:name=".PendingBookedCaseActiviy"/>
        <activity android:name=".CourtCaseStatus"/>

    </application>

</manifest>